*{
    margin: 0%;
    padding: 0%;
    border: box-shadow;
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(66, 64, 64);
    color: white;
   }

.page1{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.323);
    background-position: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
   

}
.main img{
    height: 100%;
    width: 100%;
    position:fixed;
    object-fit:cover;
    background-size: cover;
    object-fit: cover;
    z-index: -4;
}

.navbar{
    position:fixed;
    background-color: rgb(177, 118, 118);
    height: 80px;
    width: 100%;
    font-size: 20px;
   font-weight: 800;
   letter-spacing: 1px;
    color: rgb(201, 47, 47);
    display:flex;
    align-items: center;
    z-index: 10;
}
.logo{
    margin-left: 30px;
    display: flex;
    font-weight: bold;
    color: rgb(166, 68, 50);
}
.logo a{
    color: rgb(188, 192, 195);
}
img{
  height: 50px;
  width: 50px;
   
}
.HOME{
    padding:8px ;
    margin-left: 67px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: 2px solid transparent;
}
.HOME:hover{
    color: rgb(249, 238, 238);
    background-color: rgb(200, 130, 125);
    border: 2px solid white;
}
.aboutus{
    padding:8px ;
    border-radius: 5px;
    margin-left: 27px;
    color: rgb(22, 22, 22);
    border: 2px solid transparent;
    
   
}
.aboutus:hover{
    color: rgb(249, 238, 238);
    background-color: rgb(200, 130, 125);
    border: 2px solid white;
}
.ourservice{
    padding:8px ;
    border-radius: 5px;
    margin-left: 27px;
    color: rgb(9, 8, 8);
    border: 2px solid transparent;
   
   
}
.ourservice:hover{
    color: rgb(249, 238, 238);
    background-color: rgb(200, 130, 125);
    border: 2px solid white;
}
.contactus{
    padding:8px ;
    border-radius: 5px;
    margin-left: 27px;
    color: rgb(4, 4, 4);
    border: 2px solid transparent;
    
}
.contactus:hover{
    color: rgb(249, 238, 238);
    background-color: rgb(200, 130, 125);
    border: 2px solid white;
}
.login{
    padding:10px 30px ;
    border-radius: 5px;
    margin-left: 540px;
    display: flex;
    color: rgb(24, 24, 24);
    border: 2px solid transparent;
    
   
}
.login .icon{
    color: rgb(35, 34, 34);
    margin-right: 17px;
    
}
.login:hover{
    color: rgb(249, 238, 238);
    background-color: rgb(200, 130, 125);
    border: 2px solid white;
}
.homecontent h1{
   text-transform: uppercase;
   font-size: 60px;
   font-weight:900;
   color: rgb(222, 72, 72);
   
}
.homecontent h2{
    text-transform:capitalize;
    text-align: center;
    color: rgb(57, 203, 183);
    font-size: 32px;
    font-weight:700;
}
.page2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(182, 128, 57);
    background-color: rgba(0, 0, 0, 0.579);

}
.page2 h3{
    font-size: 30px;
}
#aboutus{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
   

}

#aboutus img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    
}
#aboutus .div1{
text-align: left;
}
.copyright{
    text-align: center;
    font-size: 20px;
    height: 40px;
    width: 100%;
    color: aliceblue;
    background: #000;
}


 
